{% extends 'base.html' %} 
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/base.css' %}" />
{% endblock %} 

{% block content %}
<div class="page-header">
    {% if wine %}
        <h1>Edit {{ wine.producer }} {{ wine.variety }} {{ wine.year }}</h1>
    {% else %}
        <h1>Add a Wine</h1>
        {% endif %}
    <img src="{% static 'images/wine-bottle-svgrepo-com.svg' %}" alt="Wine collector logo">
</div>

<form method="post" class="form-container">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    {% if object %}
        <button type="submit" class="btn submit">Edit Wine</button>
    {% else %}
        <button type="submit" class="btn submit">Create Wine</button>
    {% endif %}
</form>
{% endblock %}